body {
  padding-top: 120px;
}
.menu-jump {
  margin-top: -120px;
  margin-bottom: 120px;  
}

.top-image {
  position: relative;
  height: 500px;
  background: url(/img/topimg.jpg) no-repeat center center;
  background-size: cover;
}
